main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img {
    max-width: 35px;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 65%;
}

/* global classes */

.sectionBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* intro section */

.sectionHeader h1 {
    font-size: 3rem;
    font-weight: bold;
}

/* about section */

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin-right: 10%;
}

#myPic img {
    max-width: 200px;
    height: auto;
    }

/* experience */

.expList {
  flex: 0 0 25%;
}

.expDetails {
  flex: 0 0 75%;
}


/* projects */